# Ignore everything by default
*

# Do not ignore directories (necessary to allow the inclusion of specific files within directories)
!*/

# Include Go source files
!**/*.go

# Include Go module files
!go.mod
!go.sum

# Include project configuration and documentation files
!.dockerignore
!.gitignore
!action.yml
!Dockerfile
!LICENSE
!Makefile
!README.md

# Include GitHub-specific files and directories
!.github/*
!.github/**/*
